%footer.slp-mt-48.slp-relative.slp-text-white{:style => "background: rgb(107, 79, 187);"}
  = partial "includes/logos/footer_logo.svg"
  .slp-container.slp-mx-auto.slp-px-10.slp-mb-0
    %p.slp-text-base.slp-text-xs.slp-text-center.slp-text-grayscale.slp-mb-0{:style => "padding: 60px 0 10px 0; color: hsla(0,0%,100%,.5);"}
      Git is a trademark of Software Freedom Conservancy and our use of 'GitLab'
      is under license
  %p.slp-text-center.slp-text-sm.slp-px-10.slp-py-8.slp-mb-0{:style => "background: rgb(85, 68, 136);"}
    View
    %a.slp-underline.slp-text-white{:href => "https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/sites/uncategorized/source/index.html.haml"}
      page source
    — Edit in
    %a.slp-underline.slp-text-white{:href => "https://gitlab.com/-/ide/project/gitlab-com/www-gitlab-com/edit/master/-/sites/uncategorized/source/index.html.haml"}
      Web IDE
    — please
    %a.slp-underline.slp-text-white{:href => "https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/CONTRIBUTING.md"}
      contribute
    \.
    %a.slp-text-white{:href => "https://creativecommons.org/licenses/by-sa/4.0/", :rel => "license"}
      %img.slp-inline.slp-align-middle{:alt => "Creative Commons License", :src => "/images/by-sa.svg"}/